Key: NEXT_PUBLIC_SUPABASE_URL
Value: https://ggphuivpkvhkkpyramao.supabase.co

Key: NEXT_PUBLIC_SUPABASE_ANON_KEY
Value: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdncGh1aXZwa3Zoa2tweXJhbWFvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDM5NDQ5ODUsImV4cCI6MjAxOTUyMDk4NX0.5NM3ZMD_gy_JxVFcWtJPyqtL6rFN3PD7K1rGPHcAMZk# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
node_modules
